h1 {
  font-family: 'Taviraj', serif;
  color: indigo;
}

h2 {
  color: gray;
}

.delete {
  background-color: red;
  font-weight: bold;
}

.save {
  background-color: lightgreen;
  font-weight: bold;
}
